body {
    background-color: #a14141;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
    
}

.eye-container {
    width: 300px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 100px auto;
}

.eyeshadow {
    width: 300px;
    height: 230px;
    background: radial-gradient(ellipse,rgba(13, 13, 13, 0.97) 0%, rgba(13, 13, 13, 0.90) 20%, rgba(11, 11, 11, 0.5) 40%,  rgba(11, 11, 11, 0.1) 50%,  rgba(11, 11, 11, 0) 60%); 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -1;
}

.eyeball {
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 100% 0;
    rotate: 45deg;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    overflow: hidden;
}

.pupil {
    width: 50px;
    height: 50px;
    background-color: #000000;
    border-radius: 50%;
    transition: all 0.1s ease;
    position: relative;
    left: 5px;
    top: 5px;
}

.eyelid {
    width: 120px;
    height: 80px;
    rotate: -45deg;
    position: absolute;
    left: -20px;
    z-index: 999;
}

.lid span {
    display: block;
    width: 100%;
    height: 30%;
    background: #582222;;
    border-radius: 0 0 60% 60%;
    transition: 0.4s all;
}

.eyeball:hover .eyelid span {
    height: 100%;
}
